.categoryContainer {
    padding: 2rem;
    
    color: #fff; /* White text color */
  }
  
  .categoryTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff; /* White text color */
  }
  
  .productCount {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc; /* Light grey text color */
  }
  
  .productGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .productCard {
    background-color: #333; 
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    width: 18rem;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .productCard:hover {
    box-shadow: 0px 8px 18px rgba(255, 255, 255, 0.1); /* Lighter shadow on hover */
  }
  
  .productImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .cardBody {
    padding: 1rem;
    text-align: center;
  }
  
  .productLink {
    text-decoration: none;
    color: #fff; /* White text color for product titles */
  }
  
  .productTitle {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #fff; /* White text color */
  }
  
  .productPrice {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #ffc107; /* Yellow color for the price */
  }
  
  .productDescription {
    font-size: 0.9rem;
    color: #bbb; /* Light grey color for description */
  }
  
  /* Buttons aligned in a row */
  .buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .detailsButton,
  .cartButton {
    flex: 1; /* Equal width */
    padding: 0.5rem;
    font-size: .8rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0.5rem; /* Spacing between buttons */
  }
  
  .detailsButton {
    background-color: #dc3545; /* Red color for 'Buy Now' */
    color: #fff;
  }
  
  .detailsButton:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  
  .cartButton {
    background-color: #6c757d; /* Grey color for 'Add to Cart' */
    color: #fff;
  }
  
  .cartButton:hover {
    background-color: #5a6268; /* Darker grey on hover */
  }
  .butMC {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 1rem; /* Space between the buttons */
    margin-top: 1rem;
  }