.home{
    padding-top: 1rem;
    display : flex;
    min-height: 90vh;
    z-index: 10;
    backdrop-filter: blur(3px);
    color : white;
    /* margin-top: 5%; */
}
.checkbox_radio{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.checkbox_radio .checkbox,.checkbox_radio .radio{
    color: azure;
}
.rightPortion{
    flex-basis: 100%;
    margin-bottom: 4rem;
}
.rightPortion h1{
    font-size: 24px;
    font-weight: 600;
    margin-left: 1.5rem;
    padding-top: 1rem;
}
.allProductContainer{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    margin-left : 3.2rem;
}
.eachCard {
    box-shadow: 0 0 10px rgba(2, 4, 4, 0.5);
    width: 18rem;
    color: white;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }

.eachCard img {
    width: 100%; 
    height: 150px;
    object-fit: cover; 
  }

.sidebar{
    margin-left: 1rem;
    border-radius: 10px;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    box-shadow: 0 0 10px rgba(240, 1, 1, 0.841);
    background-size: cover;
}
.sidebar h4{
    font-size: 20px;
    font-weight: 600;
    
}
.cardBody{
    padding: .5rem;
    background-color: rgb(38, 34, 34);
    color : white;

}
.cardBody h5{
    color : white;
    text-decoration: none;

}
.cardBody p{
    color : white
}
.cardBody a{
    text-decoration: none;
}
.button{
    background-color:rgba(240, 1, 1, 0.841);
    border-radius: 10px;
    padding:  .5rem 1.2rem .5rem 1.2rem;
    border : rgba(240, 1, 1, 0.841);
    margin-top: 2%;
}
.button:hover{
    box-shadow: 0 0 10px rgba(240, 1, 1, 0.841);
    transform: scale(0.9);
    transition: .4s;
    border : rgba(240, 1, 1, 0.841);
    border-bottom: 1rem;
}