.main{
    min-height: 70vh;
    background-image: url("https://preview.redd.it/valorant-fanart-v0-53cyq0polvhc1.jpg?width=3653&format=pjpg&auto=webp&s=c99b374674488d17b4023a10eae2084b484a95f7");
    background-size: cover;
}